[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/adrianbathan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/adrianbathan
	label-Verified = -1..+1 group user/adrianbathan
	push = group user/adrianbathan
	read = group user/adrianbathan
	rebase = group user/adrianbathan
	removeReviewer = group user/adrianbathan
	submit = group user/adrianbathan
[access "refs/heads/*"]
	create = group user/adrianbathan
	push = +force group user/adrianbathan
	pushMerge = group user/adrianbathan
	read = group user/adrianbathan
[access "refs/tags/*"]
	push = group user/adrianbathan
	push = +force group user/adrianbathan
